extends ../../libs/jade/index.jade

block title
  title <%= answers.name %>

block content
  h1 Layout - <%= answers.name %>
  h3 Add Content to this Page.
  h5 Do this by adding views, or page related content.
